.landing-img{
    height:24rem;
}
.main-div{
    background-color: whitesmoke;
}
.heading{
    color: green;
    font-family: sans-serif;
    font-size: 2rem;
}
.lines{
    font-family: sans-serif;
    font-size: 1.7rem;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.my-element{
    animation: bounce; 
    animation-duration: 2s;
}
.mainheading{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: sans-serif;
}
.mainheadin2{
    color: darkolivegreen;
}
.landing-page{
    background-color: yellow;
}
